*{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width:80%;
    margin:auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.articolo{
    width:calc(100% / 3 - 20px);
    margin:10px;
    float:left;
}

.foto{
    height:80%;
    position:relative;
    display:inline-block;
}
.foto img{
    width:100%;
}
.preferiti{
    position:absolute;
    padding:5px;
    right:0px;
    top:5%;
    background-color: white;
    font-size:20px;
    z-index:100;
    
}

.foto:hover .preferiti{
    color:red;
}

.label{
    position:absolute;
    bottom:10px;
    color:white;
    margin-right:5px;
    padding:5px;
    padding-left:0;
    font-size: small;
    z-index:100;
}
.sconto{
    padding:5px;
    background-color:red;
}
.sostenibilità{
    padding:5px;
    background-color: green;
}

.descrizione{
    margin-top:5px;
}

.new{
    color:red;
    font-weight: bold;
    margin-right:5px;
}

.old{
    color:black;
    text-decoration: line-through;
}

.foto .under{
    display: none;
    position:absolute;
    top:0;
    left:0;
    z-index:99;
}

.foto:hover .under{
    display:inline;
}

